:root {
    --reach-combobox: 1;
}

[data-reach-combobox-popover] {
    border: solid 1px hsla(0, 0%, 0%, 0.25);
    background: hsla(0, 100%, 100%, 0.99);
    font-size: 85%;
}

[data-reach-combobox-list] {
    list-style: none;
    margin: 0;
    padding: 0;
    user-select: none;
}

[data-reach-combobox-option] {
    cursor: pointer;
    margin: 0;
    padding: 0.25rem 0.5rem;
}

[data-reach-combobox-option][aria-selected="true"] {
    background: hsl(211, 10%, 95%);
}

[data-reach-combobox-option]:hover {
    background: hsl(211, 10%, 92%);
}

[data-reach-combobox-option][aria-selected="true"]:hover {
    background: hsl(211, 10%, 90%);
}

[data-suggested-value] {
    font-weight: bold;
}

body {
    margin: 0;
    background-color: #f0efeb;
    font-family: "Raleway", "Arial", sans-serif;
}

header {
    /* height: 100px; */
    background-color: #eddcd2;
    display: grid;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
}

p {
    color: #83836f;
}

/*welcome urls*/
#welcome {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#welcome-text {
    align-content: center;
    text-align: center;
}

#welcome-logo-container {
    background-color: #ebd1c2; /*rosa chiaro un po' più scuro*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#first-line {
    margin-top: 20px;
}

nav {
    grid-column: 1/4;
    justify-self: end;
    color: #cb997e;
}

.nav-link {
    color: #a5a58d;
}

.nav-link:hover {
    color: #f0efeb;
}

a:link {
    text-decoration: none;
    color: #cb997e;
}

a:visited {
    text-decoration: none;
    color: #cb997e;
}

#logout {
    height: 50px;
    width: 100vw;
    margin: 0;
    text-align: right;
    color: #cb997e;
}

h1,
h2,
h3 {
    color: #cb997e;
}

#title {
    justify-self: center;
    align-self: center;
    font-size: 50px;
}

/* results */

.result-item {
    width: 500px;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
}

.fav {
    fill: yellow;
}
/* chat style */

#chat {
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    height: 400px;
    overflow-y: scroll;
}

.chat-bubble {
    background-color: #eddcd2;
    margin: 10px;
}

.sender {
    margin: 0 0 0 5px;
    padding-top: 15px;
    color: #ca9274;
}

.date-chat {
    color: #83836f;
    font-size: 10px;
}

.pic-message {
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.sender-pic {
    height: 30px;
    width: 30px;
    margin: 5px;
    object-fit: cover;
}

.message {
    margin: 5px;
    color: #83836f;
}
